.intro__text {
  font-size: 16px;
  line-height: 161%;
  margin: 0 0 33px 0;
  max-width: 690px;
}

@media (max-width: 320px) {
  .intro__text {
    grid-template: repeat(12, 1fr) / repeat(1, 1fr);
    margin-bottom: 37px;
  }
}
