.intro {
  max-width: 984px;
  margin: 92px auto;
  text-align: left;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 960px) {
  .intro {
    max-width: 790px;
  }
}

@media (max-width: 790px) {
  .intro {
    max-width: 720px;
    margin-top: 88px;
    margin-bottom: 88px;
    padding: 0 20px;
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 300px;
    margin: 64px 0;
  }
}
