.cover__title {
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  margin: 0;
  max-width: 560px;
  color: #ffff;
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
