.cover__title {
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  font-weight: 900;
  margin: 0 0 32px;
  max-width: 560px;
  color: #ffff;
  z-index: 1;
}

@media (max-width: 500px) {
  .cover__title {
    font-size: 45px;
    line-height: 1.09;
  }
}

@media (max-width: 405px) {
  .cover__title {
    font-size: 38px;
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
