.place {
  display: grid;
  grid-template: 1fr max-content / 1fr 1fr;
  row-gap: 48px;
  column-gap: 20px;
  box-sizing: border-box;
  margin: 0 0 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place {
    row-gap: 42px;
    margin-bottom: 73px;
    column-gap: 19px;
  }
}

@media (max-width: 740px) {
  .place {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .place {
    grid-template: repeat(4, auto) / repeat(1, 1fr);
    gap: 32px;
  }
}

@media (max-width: 320px) {
  .place {
    margin-bottom: 50px;
    padding: 0;
  }
}
